<h2>Дни посечения</h2>


<form action="visit" method="POST" role="form">
  <div class="form-group">
    <label> Ваше имя</label>
    <input name="client[name]" type="text" class="form-control"  placeholder="ваше имя" value="" >
  </div>

  <div class="form-group">
    <label> Ваш телефон</label>
    <input name="client[phone]"type="text" class="form-control"  placeholder="Телефон" value="" >
  </div>

  <div class="form-group">
    <label>Когда вас ждать</label>
    <input name="client[datestump]" type="text" class="form-control"  placeholder="укажите удобное для вас время" value="" >
  </div>

 <div class="form-group">
    <label for="exampleFormControlSelect1">Выбор парихмахера</label>
    <select name="client[barber]" class="form-control" id="exampleFormControlSelect1">
      <option <%= @barber == 'Джон смит' ? 'selected' : '' %>>Джон смит</option>
      <option <%= @barber == 'Смит джон' ? 'selected' : '' %>> Смит джон</option>
      <option <%= @barber == 'Саманта клара' ? 'selected' : '' %>>Саманта клара</option>
    </select>
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>